__pycache__/
settings_galatea.py
id_info/
tmp/
excl_dirs*.txt
plugins_bidsme/backup_plugin_nk.py
main_dicom_conv_batchautom.py
.ipynb_checkpoints/
supplementary/bidsmaps/backup_bidsmap_loraks_AFIB1.yaml